.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .dropdown-menu {
    min-width: 15rem;
  }
  
  .dropdown-user {
    padding: 0;
    list-style: none;
  }
  
  .dw-user-box {
    padding: 15px;
  }
  
  .dw-user-box .u-img {
    width: 70px;
    display: inline-block;
    vertical-align: top;
  }
  
  .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px;
  }
  
  .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
  }
  
  .dw-user-box .u-text h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .dw-user-box .u-text p {
    margin: 0;
    font-size: 12px;
  }
  
  .dropdown-user li {
    padding: 7px 15px;
  }
  
  .dropdown-user li a {
    color: #67757c;
    padding: 5px 10px;
    display: block;
  }
  
  .dropdown-user li a:hover {
    background: #f2f7f8;
    color: #009efb;
    text-decoration: none;
  }
  
  .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }