<div class="container">
  <h1>Ajouter une offre d'emploi</h1>
<form (ngSubmit)="onSubmit()" #jobOfferForm="ngForm">
  <div class="form-group">
    <label for="titre">Titre</label>
    <input type="text" id="titre" class="form-control" [(ngModel)]="jobOffer.titre" name="titre" required #titre="ngModel">
    <div class="text-danger" *ngIf="titre.invalid && titre.touched">
      Ce champ est obligatoire !
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" [(ngModel)]="jobOffer.description" name="description" required #description="ngModel"></textarea>
    <div class="text-danger" *ngIf="description.invalid && description.touched">
      Ce champ est obligatoire !
    </div>
  </div>

  <div class="form-group">
    <label for="datePublication">Date de publication</label>
    <input type="date" id="datePublication" class="form-control" [(ngModel)]="jobOffer.datePublication" name="datePublication" required #datePublication="ngModel">
    <div class="text-danger" *ngIf="datePublication.invalid && datePublication.touched">
      Veuillez choisir une date !
    </div>
  </div>

  <div class="form-group">
    <label for="dateExpiration">Date d'expiration</label>
    <input type="date" id="dateExpiration" class="form-control" [(ngModel)]="jobOffer.dateExpiration" name="dateExpiration" required #dateExpiration="ngModel">
    <div class="text-danger" *ngIf="dateExpiration.invalid && dateExpiration.touched">
      Veuillez choisir une date !
    </div>
  </div>
 <!-- Lieu -->
 <div class="form-group">
  <label for="lieu">Lieu</label>
  <input type="text" id="lieu" class="form-control" [(ngModel)]="jobOffer.lieu" name="lieu" required #lieu="ngModel">
  <div class="text-danger" *ngIf="lieu.invalid && lieu.touched">
    Ce champ est obligatoire !
  </div>
</div>

<!-- Type de contrat -->
<div class="form-group">
  <label for="typeContrat">Type de contrat</label>
  <input type="text" id="typeContrat" class="form-control" [(ngModel)]="jobOffer.typeContrat" name="typeContrat" required #typeContrat="ngModel">
  <div class="text-danger" *ngIf="typeContrat.invalid && typeContrat.touched">
    Ce champ est obligatoire !
  </div>
</div>

<!-- Salaire -->
<div class="form-group">
  <label for="salaire">Salaire</label>
  <input type="text" id="salaire" class="form-control" [(ngModel)]="jobOffer.salaire" name="salaire" required #salaire="ngModel">
  <div class="text-danger" *ngIf="salaire.invalid && salaire.touched">
    Ce champ est obligatoire !
  </div>
</div>

<!-- Compétences requises -->
<div class="form-group">
  <label for="competencesRequises">Compétences requises</label>
  <input type="text" id="competencesRequises" class="form-control" [(ngModel)]="jobOffer.competencesRequises" name="competencesRequises">
</div>

<!-- Expérience minimale -->
<div class="form-group">
  <label for="experienceMinimale">Expérience minimale</label>
  <input type="number" id="experienceMinimale" class="form-control" [(ngModel)]="jobOffer.experienceMinimale" name="experienceMinimale" required #experienceMinimale="ngModel">
  <div class="text-danger" *ngIf="experienceMinimale.invalid && experienceMinimale.touched">
    Veuillez entrer un nombre valide !
  </div>
</div>
<!-- Nombre de vacants-->
<div class="form-group">
  <label for="salaire">Nombre de postes disponibles</label>
  <input type="text" id="salaire" class="form-control" [(ngModel)]="jobOffer.nbrVacant" name="nbrVacant" required #nbrVacant="ngModel">
  <div class="text-danger" *ngIf="nbrVacant.invalid && nbrVacant.touched">
    Ce champ est obligatoire !
  </div>
</div>
<!-- Statut -->
<div class="form-group">
  <label for="statut">Statut</label>
  <select id="statut" class="form-control" [(ngModel)]="jobOffer.statut" name="statut">
    <option *ngFor="let statut of statutOptions" [value]="statut">{{ statut }}</option>
  </select>
</div>
  <button type="submit" class="btn btn-primary button-spacing" [disabled]="jobOfferForm.invalid">
    Ajouter
  </button>
  <button type="button" class="btn btn-secondary" (click)="viewJobOffers()">
    Consulter les offres d'emploi
  </button>
</form>
</div>