<header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b>
                    <img src="/assets/backoffice/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                </b>
                <!-- Logo text -->
                <span>
                    <img src="/assets/backoffice/images/logo-light-text.png" class="light-logo" alt="homepage" />
                </span>
            </a>
        </div>
        
        <div class="navbar-collapse">
            <!-- Toggle and nav items -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item">
                    <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="mdi mdi-menu"></i>
                    </a>
                </li>
                
                <!-- Search -->
                <li class="nav-item hidden-sm-down search-box">
                    <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-search"></i>
                    </a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter">
                        <a class="srh-btn"><i class="ti-close"></i></a>
                    </form>
                </li>
            </ul>
            
            <!-- User profile and date/time -->
            <ul class="navbar-nav my-lg-0">
                <!-- Date and Time Display -->
                <li class="nav-item">
                    <span class="nav-link text-muted waves-effect waves-dark">
                        <i class="mdi mdi-calendar-clock mr-1"></i> 
                        Current Date and Time: {{ currentTime }}
                    </span>
                </li>
                
                <!-- Profile dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/backoffice/images/users/1.jpg" alt="user" class="profile-pic mr-2" />
                        <span>{{ currentUserName }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                        <img src="/assets/backoffice/images/users/1.jpg" alt="user">
                                    </div>
                                    <div class="u-text">
                                        <h4>{{ currentUserName }}</h4>
                                        <p class="text-muted" *ngIf="currentUserEmail">{{ currentUserEmail }}</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="ti-settings"></i> Account Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="logout()" style="cursor: pointer;"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>