<div class="container">
    <h2>Liste des offres d'emploi</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Compétences requises</th>
          <th scope="col">Statut</th>
          <th scope="col">Nombre de postes disponibles</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offer of jobOffers">
          <td>{{ offer.titre }}</td>
          <td>{{ offer.competencesRequises }}</td>
          <td>{{ offer.statut }}</td>
          <td>{{ offer.nbrVacant}}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="updateOffer(offer.id)">
                Modifier
              </button>
            <button class="btn btn-danger btn-sm ms-2" (click)="deleteOffer(offer.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-danger btn-sm ms-2" [routerLink]="['/backoffice/add-job-offer']">
        Ajouter offre d'emploi 
      </button>
  </div>
  