<h1>Déposez votre CV</h1>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required />
    <div *ngIf="email" class="text-danger">
      Veuillez entrer une adresse email valide.
    </div>
  </div>

  <div class="form-group">
    <label for="cv">Télécharger CV</label>
    <input type="file" id="cv" class="form-control" accept=".pdf"  name="cv" required />
    <div  class="text-danger">
      Veuillez télécharger votre CV.
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-secondary mr-2" (click)="onNoClick()">Annuler</button>
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </div>
</form>
